* {
  font-family: montserrat;
}

body {
  background: #f1fbff;
}

.section-padding {
  padding: 100px 0;
}

.offcanvas {
  max-width: 70%;
}

.nav-item a:hover {
  background-image: repeating-linear-gradient(
      112.5deg,
      hsla(19, 0%, 93%, 0.2) 0px,
      hsla(19, 0%, 93%, 0.2) 0px,
      transparent 0px,
      transparent 1px,
      hsla(19, 0%, 93%, 0.2) 1px,
      hsla(19, 0%, 93%, 0.2) 4px,
      transparent 4px,
      transparent 5px,
      hsla(19, 0%, 93%, 0.2) 5px,
      hsla(19, 0%, 93%, 0.2) 8px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(19, 0%, 93%, 0.2) 0px,
      hsla(19, 0%, 93%, 0.2) 0px,
      transparent 0px,
      transparent 1px,
      hsla(19, 0%, 93%, 0.2) 1px,
      hsla(19, 0%, 93%, 0.2) 4px,
      transparent 4px,
      transparent 5px,
      hsla(19, 0%, 93%, 0.2) 5px,
      hsla(19, 0%, 93%, 0.2) 8px
    ),
    linear-gradient(135deg, rgb(238, 238, 238), rgb(121, 121, 121));
}

.carousel-item {
  height: 90vh;
  min-height: 300px;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  bottom: 180px;
  z-index: 2;
  color: #e1b12c;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#content {
  margin: 1.5rem;
}

.card{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.7);
}

.card img {
  height: 17rem;
  width: 100%;
}

.card-text {
  line-height: 1.9;
}

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}

#content,
#about { 
  margin: 1.5rem;
}

.content,
.about-container,
.contact-form {
  position: relative;
  width: fit-content;
  margin: auto;
}

.content::before,
.about-container::before,
.contact-form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #262023;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.content:hover,
.about-container:hover,
.contact-form:hover {
  color: #b33771;
  cursor: pointer;
}

.content:hover::before,
.about-container:hover::before,
.contact-form:hover::before {
  background-color: #b33771;
}

#contact-form {
  margin: 1.25rem;
}
.contact-form-main {
  margin: 3.5rem;
  padding: 3rem;
}

.form-label {
  font-size: 1.5rem;
}

.form-control {
  font-size: 1.25rem;
}
.contact-form-main label {
  padding-left: 0.6rem;
}

@media screen and (max-width: 576px) {
  .carousel-item {
    height: 60vh;
    min-height: 350px;
  }

  .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .carousel-caption {
    bottom: 2.7rem;
    z-index: 2;
    color: #e1b12c;
  }

  .carousel-caption h5 {
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .carousel-caption p {
    width: 100%;
    margin: auto;
    font-size: 1rem;
    line-height: 1.9;
  }

  #contact-form {
    margin: 0;
    padding: 0;
  }
  .contact-form-main {
    margin: 1.5rem;
    padding: 1.5rem;
  }

  .form-label {
    font-size: 1rem;
  }

  .form-control {
    font-size: 1rem;
  }
}

@media screen and (max-width: 290px) {
  .carousel-caption {
    bottom: 1.7rem;
  }
}
